Business-Automation.json
{
  "name": "Business-Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Business_Automation",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -16,
        64
      ],
      "id": "fe394ba5-fe7c-4f2e-abe1-b3adcb4e65e5",
      "name": "Webhook",
      "webhookId": "c7a6d057-aa63-477b-93bf-9d1e3f690a8a"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Business Automation CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WL229egyCbowr2yXUYgsjwQH3boWzBuPTZfg-lkVo5A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WL229egyCbowr2yXUYgsjwQH3boWzBuPTZfg-lkVo5A/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{$json.body.name}}",
            "E-mail": "={{$json.body.email}}",
            "Phone ": "={{$json.body.phone}}",
            "Requirement": "={{$json.body.requirement}}",
            "Status": "New",
            "Created At": "={{$now}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone ",
              "displayName": "Phone ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Requirement",
              "displayName": "Requirement",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created At",
              "displayName": "Created At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        64
      ],
      "id": "ba6db722-ff55-4101-931a-50469608a7e6",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uY6PME2F5pfImV2w",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value":"Bearer YOUR_GROQ_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Write a friendly WhatsApp message for {{$json.body.name}} who is interested in {{$json.body.requirement}}. Keep it under 80 words.\"\n    }\n  ],\n  \"temperature\": 0.7\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        512,
        64
      ],
      "id": "67a1a090-6709-44a4-9d5c-3d362d4d0257",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/YOUR_PHONE_NUMBER_ID/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_WHATSAPP_ACCESS_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"917265817993\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": {{$node[\"HTTP Request\"].json[\"choices\"][0][\"message\"][\"content\"]}}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        768,
        64
      ],
      "id": "3adb8397-e293-446b-ad8d-cc22c4531cd9",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1WL229egyCbowr2yXUYgsjwQH3boWzBuPTZfg-lkVo5A",
          "mode": "list",
          "cachedResultName": "Business Automation CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WL229egyCbowr2yXUYgsjwQH3boWzBuPTZfg-lkVo5A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WL229egyCbowr2yXUYgsjwQH3boWzBuPTZfg-lkVo5A/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "E-mail": "={{$node[\"Webhook\"].json.body.email}}",
            "Name": "={{$node[\"Webhook\"].json.body.name}}",
            "Phone ": "={{$node[\"Webhook\"].json.body.phone}}",
            "Requirement": "={{$node[\"Webhook\"].json.body.requirement}}",
            "Status": "Contacted",
            "Created At": "={{$now}}"
          },
          "matchingColumns": [
            "E-mail"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone ",
              "displayName": "Phone ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Requirement",
              "displayName": "Requirement",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created At",
              "displayName": "Created At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1024,
        64
      ],
      "id": "3ab0cb40-13c1-4e5e-9d44-c20c15786e97",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uY6PME2F5pfImV2w",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 21
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        240
      ],
      "id": "715fa5f0-9241-44ce-8541-6dff2d457a21",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WL229egyCbowr2yXUYgsjwQH3boWzBuPTZfg-lkVo5A",
          "mode": "list",
          "cachedResultName": "Business Automation CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WL229egyCbowr2yXUYgsjwQH3boWzBuPTZfg-lkVo5A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WL229egyCbowr2yXUYgsjwQH3boWzBuPTZfg-lkVo5A/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Contacted"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        240
      ],
      "id": "42a8ff10-fb25-4ba1-8b0e-6b8414afa95c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uY6PME2F5pfImV2w",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1WL229egyCbowr2yXUYgsjwQH3boWzBuPTZfg-lkVo5A",
          "mode": "list",
          "cachedResultName": "Business Automation CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WL229egyCbowr2yXUYgsjwQH3boWzBuPTZfg-lkVo5A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WL229egyCbowr2yXUYgsjwQH3boWzBuPTZfg-lkVo5A/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{$json[\"Name\"]}}",
            "Phone ": "={{$json[\"Phone \"]}}",
            "Requirement": "={{$json[\"Requirement\"]}}",
            "Status": "New",
            "Created At": "={{$json[\"Created At\"]}}",
            "E-mail": "={{$json[\"E-mail\"]}}"
          },
          "matchingColumns": [
            "E-mail"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone ",
              "displayName": "Phone ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Requirement",
              "displayName": "Requirement",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created At",
              "displayName": "Created At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        512,
        240
      ],
      "id": "a8921757-0320-4121-9cf8-8639b8e46633",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uY6PME2F5pfImV2w",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 22
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -32,
        480
      ],
      "id": "0c848b44-90c5-4a30-93aa-90b14f4ceb5a",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WL229egyCbowr2yXUYgsjwQH3boWzBuPTZfg-lkVo5A",
          "mode": "list",
          "cachedResultName": "Business Automation CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WL229egyCbowr2yXUYgsjwQH3boWzBuPTZfg-lkVo5A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WL229egyCbowr2yXUYgsjwQH3boWzBuPTZfg-lkVo5A/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        480
      ],
      "id": "b581140a-540a-414f-8fc4-467eaec937ae",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uY6PME2F5pfImV2w",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\n\nlet report = {\n  totalLeads: rows.length,\n  newLeads: 0,\n  contacted: 0,\n  followUp1: 0,\n  followUp2: 0,\n  converted: 0\n};\n\nfor (const item of rows) {\n  const status = item.json.Status;\n\n  if (status === \"New\") report.newLeads++;\n  else if (status === \"Contacted\") report.contacted++;\n  else if (status === \"Follow-up 1\") report.followUp1++;\n  else if (status === \"Follow-up 2\") report.followUp2++;\n  else if (status === \"Converted\") report.converted++;\n}\n\nreturn [\n  {\n    json: report\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        480
      ],
      "id": "ffdc951b-376e-4cf9-b98a-023c58b18b61",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "parmarhemeen05@gmail.com",
        "subject": "Weekly CRM Report",
        "message": "=Hello,  Here is your Weekly CRM Report.  📊 Total Leads: {{$json.totalLeads}}  🆕 New Leads: {{$json.newLeads}}  📞 Contacted: {{$json.contacted}}  🔄 Follow-up 1: {{$json.followUp1}}  🔄 Follow-up 2: {{$json.followUp2}}  ✅ Converted: {{$json.converted}}  Generated automatically using n8n.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        720,
        480
      ],
      "id": "7b8f3a1a-9aa7-48da-84d1-70e6d2b9448c",
      "name": "Send a message",
      "webhookId": "253216c3-2286-4047-9663-9b0d1ce5e4db",
      "credentials": {
        "gmailOAuth2": {
          "id": "pYiT2T3sAynsfTHX",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "76c8cf94-bb3c-4d0f-a663-947d8d4f4f55",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ad3a863165d6b025cce12aaae0f9f1a1bf38e689a80ae601a2a5e7a769be6512"
  },
  "nodeGroups": [],
  "id": "hsPlcRgHnKVq0mi1",
  "tags": []
}